<div class="media jumbotron">
    <img id=noah src="../../assets/static/Noah.jpeg" alt="Noah">
    <div class="media-body">
      <h3 class="mt-0">Noah Scott McDonough</h3>
        <div>
            <p>I'm a Coding Resident at the Coding Dojo in McLean, Virginia. My specialities are algorithms, troubleshooting and persistence. No matter how big the project or minute the details, I get it done on time.</p>
        </div>  
    </div>
</div>
<div class="tech jumbotron">
    <h2>I build beautiful applications using:</h2>
    <div class='icons'>
        <a href="#" data-toggle="tooltip" title="Python"><img src="../../assets/static/icons/opengraph-icon-200x200.png" alt="Python logo" class='sicon'></a>
      <a href="#" data-toggle="tooltip" title="MySQL"><img src="../../assets/static/icons/MySQL.png" alt="mysql logo" class='sicon'></a>
      <a href="#" data-toggle="tooltip" title="Django"><img src="../../assets/static/icons/django.svg" alt="django" class='sicon'></a>
        <a href="#" data-toggle="tooltip" title="MongoDB"><img src="../../assets/static/icons/mongodb.png" alt="mongoDB" class='sicon'></a>
        <a href="#" data-toggle="tooltip" title="Express"><img src="../../assets/static/icons/express_js.png" alt="express" class='sicon' id="express"></a>
        <a href="#" data-toggle="tooltip" title="Angular 6"><img src="../../assets/static/icons/tsconfig.png" alt="Angular" class='sicon'></a>
        <a href="#" data-toggle="tooltip" title="Nodejs"><img src="../../assets/static/icons/nodejs-601628d09d.png" alt="node" class='sicon'></a>
        <a href="#" data-toggle="tooltip" title="Java 8"><img src="../../assets/static/icons/java.png" alt="java" class='sicon'></a>
        <a href="#" data-toggle="tooltip" title="Springboot"><img src="../../assets/static/icons/spring-boot-logo.png" alt="Springboot" class='sicon'></a>
        <a href="#" data-toggle="tooltip" title="Hibernate"><img src="../../assets/static/icons/Hibernate.png" alt="hibernate" class='sicon'></a>
        <a href="#" data-toggle="tooltip" title="Web Fundamentals"><img id="webfun" src="../../assets/static/icons/1_l4xICbIIYlz1OTymWCoUTw.png" alt="web fundamentals" class='sicon'></a>
    </div><br>
    <h2>And many more!</h2>
</div>