<div class='body'>
  <h1>Projects</h1>
  <p>To preserve integrity, these projects have not been edited from their original submission. These projects were built from scratch, or from custom made templates of my own design, have full functionality meaning they can communicate to a backend, perform CRUD operations in a database, and finally they were submitted. All in 5 hours or less. Each of these projects was awarded a Black Belt MVC Certification in their respective stacks.</p><br><br>

  <div class="jumbotron project">
    <h3>Python</h3>
    <p>My first black belt project.</p><br>
    <h4>Featured tech:</h4>
    <div class='icons'>
      <a href="#" data-toggle="tooltip" title="Python"><img src="../../assets/icons/opengraph-icon-200x200.png" alt="Python logo" class='sicon'></a>
      <a href="#" data-toggle="tooltip" title="MySQL"><img src="../../assets/icons/MySQL.png" alt="mysql logo" class='sicon'></a>
      <a href="#" data-toggle="tooltip" title="Django"><img src="../../assets/icons/django.svg" alt="django" class='sicon'></a>
    </div><br>
    <a href="http://18.222.223.199" class='bigLink'>Take me to the project</a><br>
    <a href="https://github.com/NMcDonough/Django"><img id="github" src="../assets/glyphs/glyphicons_free/glyphicons-social/png/glyphicons-social-22-github.png" alt="">See this project on Github</a>
  </div>

  <div class="project jumbotron">
    <h3>MEAN</h3>
    <p>This stack was by far the hardest, and by far my favorite. To this day, if I have a say in it, the project will be a singe-page application.</p><br>
    <h4>Featured tech:</h4>
    <div class='icons'>
      <a href="#" data-toggle="tooltip" title="MongoDB"><img src="../../assets/icons/mongodb.png" alt="mongoDB" class='sicon'></a>
      <a href="#" data-toggle="tooltip" title="Express"><img src="../../assets/icons/express_js.png" alt="express" class='sicon' id="express"></a>
      <a href="#" data-toggle="tooltip" title="Angular 6"><img src="../../assets/icons/tsconfig.png" alt="Angular" class='sicon'></a>
      <a href="#" data-toggle="tooltip" title="Nodejs"><img src="../../assets/icons/nodejs-601628d09d.png" alt="node" class='sicon'></a>
    </div><br>
    <a href="http://18.216.129.102" class='bigLink'>Take me to the project</a><br>
    <a href="https://github.com/NMcDonough/mean"><img id="github" src="../assets/glyphs/glyphicons_free/glyphicons-social/png/glyphicons-social-22-github.png" alt="">See this project on Github</a>
  </div>

  <div class="project jumbotron">
    <h3>Java</h3>
    <p>Java and I go back. Way back. I wrote my first Hello World program in 2011 with JGrasp. I'll never forget Mr. Klix, who looks a lot like a member of Swedish power metal band Sabaton.</p><br>
    <h4>Featured tech:</h4>
    <div class='icons'>
        <a href="#" data-toggle="tooltip" title="Java 8"><img src="../../assets/icons/java.png" alt="java" class='sicon'></a>
        <a href="#" data-toggle="tooltip" title="Springboot"><img src="../../assets/icons/spring-boot-logo.png" alt="Springboot" class='sicon'></a>
        <a href="#" data-toggle="tooltip" title="Hibernate"><img src="../../assets/icons/Hibernate.png" alt="hibernate" class='sicon'></a>
    </div><br>
    <a href="http://13.58.232.86" class='bigLink'>Take me to the project</a><br>
    <a href="https://github.com/NMcDonough/Spring/tree/master/Tasks"><img id="github" src="../assets/glyphs/glyphicons_free/glyphicons-social/png/glyphicons-social-22-github.png" alt="">See this project on Github</a>
  </div>
</div>