p, h1, h3, a, li{
    color: rgba(37, 83, 122);
}
.body{
    height: 67vh;
}
p{
    font-size: 18px;
}
li{
    list-style-type: none;
    text-align: left;
    font-size: 18px;
}
.goals{
    padding-left: 25%;
}