<div class='body'>
  <h3>About Noah McDonough</h3>
  <p>
    I was born in Charleston, West Virginia in 1994. My family moved to Maryland in 2000, then finally to Northern Virginia just before school in 2008. I took my first computer science course as a Senior, and it changed my world; it changed how I thought, how I interpret and formulate arguments, and how I see technology as a whole.
    </p><br>
    <p>
    In 2012 I left for Southern Virginia University to pursue a Liberal Arts core education and a degree in Computer Science. I got to join the traveling Men's Volleyball team, and I got my first job at the local Dominos in Buena Vista. Unfortunately, University was not the place for me. I left SVU, and it was the first real decision I made to take my life in the direction I wanted to go. Since then, I've been devouring as much interesting content as I can to complete my education on my own terms.
  </p><br>
  <p>
    Now, as a full stack web developer, my focus is on learning what I can, acquiring technical skills, and developing myself. My goals include setting my finances up for long-term success, creating a family, and assisting others to achieve their goals through example and motivation. When I was General Manager, I often needed to remind myself of the example I had to set for myself and my team. What I found was that I work and inspire others best by embodying a simple phrase, "Beacon of Positivity".
  </p>
</div>