<div class='body'>
  <h3>About Noah McDonough</h3>
  <p>
    I'm a full stack web developer. I recently graduated from Coding Dojo Academy with triple MVC certifications, otherwise known as "Black Belts". In a nutshell, it means I graduated at the highest level of my cohort. Each of the projects I submitted for these certifications can be seen under the "projects" tab in their original form.
  </p><br>
  <p>
    My coding first began in High School with my first Computer Science course where we explored everything from number systems to a basic AI that had to find its way out of any maze. Then I took two years of university courses which included Data Structures, Software Engineering and of course the basics of Java programming. the skills I learned there paved the way for my current career pursuits, and the experience of working in a group to design software has been invaluable for the coordinated projects I worked on while at the Dojo.
  </p><br>
  <p>
    My goals for the next 5 years, in order of importance:
  </p>
  <div class="goals">
    <ul>
        <li>Get married and start a family</li>
        <li>Square away my finances for myself and my future children</li>
        <li>Cultivate an expert level knowledge of, and capability in, web development</li>
        <li>Write awesome code for awesome projects</li>
      </ul>
  </div>
</div>